@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;500&family=Outfit:wght@500&family=Quicksand:wght@700&display=swap');
body{
    background-color: #f0f0f1;
    font-family: 'Outfit', sans-serif;
    margin: 0px;
    padding: 0px;
}
.header{
    position: fixed;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 18vw;
    background-color: #f8f9fa;
}
#line{
    background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.4),transparent);
    height:1px ;
    width: 16vw; 
    position: absolute;
    left: 1vw;
}
.container{
    width: 18vw;
    height: 50px;
    padding-top: 25px;
    position: relative;
}
#taskbar-title{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    position: absolute;
    margin-top: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 40px;
    color: rgba(0,0,0,0.75);
}
.for-taskbar{
    border-radius: 10px;   
    position: relative;
    margin-top: 15px;
    top: 0px;
    left: 1vw;
    font-size: 17px;
    width: 16vw;
    height: 65px;
    font-weight: bold;
    list-style-type: none;
    color: #344767;
    
}
#selected{
    background-color: white;
    box-shadow: 5px 10px 10px -5px rgba(0,0,0,0.05);
}

.upload-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: transparent;
    height: 30px;
    width: 115px;
}
.nav-links{
    margin: 0px;
    font-size: 18px;
    text-decoration: none;
    padding-top: 2px;
    margin-left: 5px;
    color: #344767;
    float: left;
}
.icon{
    float: left;
    padding-top: 5px;
    margin-left: 15px;
}
#subtitle-tab{
    margin-left: 7px;
}
#export-tab{
    margin-left: 13px;
}
.section{
    background-color: white;
    box-shadow: 2.5px 5px 5px -5px rgba(0,0,0,0.05);
    border-radius: 10px;
}
.animation{
    position: absolute;
    opacity: 0%;
    background-color:#a147dc;
    height: 100%;
    width: 10vw;
    margin-left: 3vw;
    border-radius:10px ;

    transition-duration: 0.5s;

}
#import-file{
    position: relative;
    top: 10px;
    width: 80vw;
    height: 100px;
    margin-left: 19vw;

}
#choose-file{
    display: block;
    font-family: 'Outfit', sans-serif;
    border-radius: 10px;
    color: whitesmoke   ;
    float: left;
    height: 70px;
    width: 10vw;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    border: 0px ;
    font-weight: 550;
    font-size: 16px;
    background-color: #8a2be2 ;
    text-align:center;
    box-shadow: 2.5px 5px 5px -5px rgba(0,0,0,1);
    transition-duration: 0.5s;
    cursor: pointer;
}
#choose-file:hover{
    background-color:#a147dc ;
}

#choosen-file-directory{ 
    float: left;    
    width: 5vw;
    height: 100px;
    margin-left: 1vw;
    color: #aaa ;       
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: left;
    word-break: break-all;
    
    
}

#sound-bar-container{
    position: relative;
    float: left;
    margin-left: 30px;

}
#sound-bar{
    z-index: 0;
    float: left;
    position: absolute;
    appearance: none;
    background-color: #aaa;
    border-radius: 90px;
    width: 200px;
    height: 5px;
    margin-top: 50px;
}
#sound-bar::-webkit-slider-thumb{
    
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: #a147dc;
    border-radius: 90px;   


}
#progress{
    z-index: 3;
    position: absolute;
    background-color:#a147dc ;
    height: 5px;
    width: 0px;
    margin-top: 50px;
    border-radius: 50px;
   
}
#pointer{
    z-index: 5;
    position: absolute;
    background-color: #a147dc;
    width: 8px;
    height: 8px;
    margin-left: 0px;
    border-radius: 20px;
    margin-top: 48px;
}